.mainHeading{
  display: flex;
  flex-wrap: wrap;
  background-color: #da5555;
  filter: drop-shadow(0 3px 5%)
}

.logoutButton{
  background-color: #F5F5F5;
  border-radius: 80px;
  cursor: pointer;
  border: 2px solid #ffbf54;
}

#logoutId {
  color: black;
}